
  
  
 .aboutHeadline {
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
 }
  
  table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 15px; 
    overflow: hidden; 
    margin: auto;
  }
  
  th, td {
    border: 2px solid #e11593;
    padding: 1em;
    text-align: left;
  }
  
  th {
    background-color: #e11593;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: rgba(225, 21, 147, 0.2);
  }
  


  /* about page, skills */

.skillsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 0 auto;
  padding: 1em 0.5em;
  width: 80%;   
}

.skill {
  border: 3px solid #e11593;
  padding: 10px;
  text-align: center;
  width: 30%; 
  min-width: 150px;
  color: #e11593;
  font-size: 1.2rem;
  font-family: "pf-videotext", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 15px;
  background-color: rgba(225, 21, 147, 0.1);
}



#me{
  width: 40%;
  display: block;
  margin: auto;
  min-width: 400px;
}


.aboutme {
  margin: auto;
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 4rem;
}
  

/* about */
.anna {
  font-family: "solvent", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#hey {
  text-align: center;
  margin-top: 2rem;
}

.myTitle {
  color: #e11593;
  text-align: center;
  font-size: 1.2rem;
  }