*{
  box-sizing: border-box;
}


body {
    background-image: url("/assets/pattern.png");
    background-attachment: fixed;
    background-position: center; 
    background-color: #efece5;
    font-family: 'Roboto Mono';
    font-size: 1em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  ::selection {
    background-color: #FB9DDB;
    color: #000;
  }

  ::placeholder {
    color: #FB9DDB;
    opacity: 0.5; 
    font-size: 1.4em;
  }

  /* nav menu */

.menu {
  padding: 0;
  text-align: center;
  font-family: "pf-videotext", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 35px;
  color: #000000;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  padding: 1em;
}

.menu, a {
  text-decoration: none;
  color: #000000
}

a:hover {
  color: #FB9DDB; 
}

.active {
  color: #1441F5;
}

  
.menu li {
  display: inline;
  padding: 0.3em;
}
  

#logotype {
  width: 10rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  }



  footer {
    font-size: 1rem;
    text-align: center;
    margin-top: auto;
    bottom: 0;
    width: 100%;
    }
  

    h1 {
      color: #1441F5;
      font-size: 48px;
      font-family: "solvent", sans-serif;
      font-weight: 400;
      font-style: normal;
      text-align: center;
      }












/**************************************************************
*************************   MEDIA QUERIES  ******************** 
***************************************************************/

/*-------------------------------------------------------------
/*                         Large desktops
--------------------------------------------------------------*/

@media screen and (min-width: 1200px)
{
.projectPicture {
  width: 40rem;
}

}

/*-------------------------------------------------------------
/*                         Small desktops
--------------------------------------------------------------*/

@media screen and (max-width: 1250px)
{
  .projectPicture {
    width: 35rem;
  }

  .projectContainer {
    display: flex;
    justify-content: center;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 3rem; 
  }

}

/*-------------------------------------------------------------
/*                          TABLETS  
--------------------------------------------------------------*/ 

@media screen and (max-width: 1000px)
{

  .projectContainer {
      display: flex;
      flex-direction: column;
  }

  #me {
    width: 100px;
  }
  
  .menu li {
    display: inline;
    padding: 0.3em;
  }

  .imageContainer {
    width: 100%;
    text-align: center;
  }

  .textContainer {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    margin-left: 1rem;
  }
} 


/*-------------------------------------------------------------
/*                          MOBILES 
--------------------------------------------------------------*/ 

@media screen and (max-width: 900px)
{

  #me {
    width: 100px;
  }
  
  .menu li {
  display: inline;
  padding: 0.3em;
  font-size: 1.5rem;
  }

  .projectPicture {
    width: 100%;
  }

  .imageContainer {
    text-align: center;
  }

  .textContainer {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    margin-left: 0.5rem;
  }

  h1 {
    font-size: 36px;
  }

  .pageButton {
    font-size: 1.5rem;
    word-spacing: 1rem;
  }
}

/*-------------------------------------------------------------
/*                        SMALL  MOBILES 
--------------------------------------------------------------*/ 

@media screen and (max-width: 700px)
{
  .menu li {
    font-size: 1rem;
  }
  .pageButton {
    font-size: 1.2rem;
    word-spacing: 0.8rem;
  }

  h1 {
    font-size: 24px
  }

}