/* --------------CSS document for index.html--------------- */


/* Styling for the see logo button */
#seeLogoButton{ 
margin: 0 auto;
padding-bottom: 0.5rem;
font-size: 1.5rem;
background-color: #FB9DDB;
color: #e11593;
border-radius: 10px;
font-family: "pf-videotext", sans-serif;
font-weight: 400;
font-style: normal;
margin-bottom: 0.5rem;
}
  
/* Styling for the appearing logo */ 
#indexLogo {
width: 6em;
}

/* Styling for logo wrapper */
.logoWrapper {
min-height: 80px;
display: block;
visibility: hidden;  /* The logotype is hidden until called by Javascript function*/
transition: all 0.5s linear 0.4s;   /*  Styling for how the logo appears with help of JS*/
}
 
/* Styling for the button wrapper */
.buttonWrapper {
min-height: 20px;
}
  
#indexLogoHomePage {
width: 12em;
}
 
/* Styling for the main */
.indexMAIN {
height: 100vh;  /* main takes up the whole screen*/
display: flex;
justify-content: center;
align-items: center;
}
  
.contentWrapper {
display: flex;
flex-direction: column;
justify-content: space-around; /* Distribute space around child elements vertically */
align-items: center;
}
 
/* Styling for user input wrapper */
.inputWrapper {
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
min-height: 70px;
}

/* Styling for the homepage input element */
.homepageInput {
width: 300px;
min-height: 50px;
border-radius: 10px;
background-color: white;
border-color: white;
visibility: visible; /* Make the input visible until changed by JS */
color: black;
font-size: 24px;
}
  
/* Font size for the placeholder */
input:placeholder-shown { 
font-size: 10px;
}
  
/*Styling for the text shown with help of JS function */
#greetings {
height: 24px;
font-size: 2rem;
font-family: "pf-videotext", sans-serif;
font-weight: 400;
font-style: normal;
color: #e11593;
}

#pLogo {
width: 6em;
}

/* Styling for enter button container */
.enter {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 10rem;
color:#e11593;
font-family: "solvent", sans-serif;
font-weight: 400;
font-style: normal;
}


/* Centering peek inside button */
.peek {
margin-top: 2px;
margin-bottom: 20px;
}