*{
  box-sizing: border-box;
}

#indexLogo {
  width: 6em;
}

.logoWrapper {
  min-height: 80px;
  display: block;
  visibility: hidden;
  transition: all 1s linear 0.4s;
}

.buttonWrapper {
  min-height: 20px;
}

#indexLogoHomePage {
  width: 6em;
}

.indexMAIN {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.homepageInput {
  width: 200px;
  min-height: 50px;
  border-radius: 10px;
  background-color: white;
  border-color: white;
}
  
.menu li {
  display: inline;
  padding: 0.3em;
    }
  
  
body {
  background-image: url("pattern.png");
  background-attachment: fixed;
  background-position: center; 
  background-color: #efece5;
  font-family: 'Roboto Mono';
  font-size: 1em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

::selection {
  background-color: #FB9DDB;
  color: #000;
}


h1 {
color: #1441F5;
font-size: 48px;
font-family: "solvent", sans-serif;
font-weight: 400;
font-style: normal;
text-align: center;
}


h2, h3, h4 {
text-align: center;
width: 80%;
margin: auto;
}

#logotype {
  width: 10rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  }

/* nav menu */

.menu {
padding: 0;
text-align: center;
font-family: "pf-videotext", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 1.5rem;
line-height: 35px;
color: #000000;
}

nav ul {
list-style: none;
padding: 0;
}

nav li {
display: inline;
padding: 1em;
}

.menu, a {
text-decoration: none;
color: #000000
}

a:hover {
color: #FB9DDB; 
}

.active {
color: #1441F5;
}




/* homepage enter button */

.enter {
display: flex;
justify-content: center;
align-items: center;
max-height: 300px;
font-size: 10rem;
color:#e11593;
font-family: "solvent", sans-serif;
font-weight: 400;
font-style: normal;
}


#me{
width: 40%;
display: block;
margin: auto;
min-width: 400px;
}


.aboutme {
margin: auto;
width: 80%;
margin-top: 1rem;
margin-bottom: 4rem;
}
  

h3 {
color: #e11593;
text-align: center;
font-size: 1.5rem;

}



 /* about */
.anna {
font-family: "solvent", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 2rem;
margin-top: 2rem;
margin-bottom: 2rem;
}

#hey, #title, #who {
text-align: center;
margin-top: 2rem;
}

/* education table */

#education {
  margin-top: 4rem;
}

h4 {
font-size: 1.5rem;
}


table {
width: 80%;
border-collapse: collapse;
margin-top: 20px;
border-radius: 15px; 
overflow: hidden; 
margin: auto;
}

th, td {
border: 2px solid #e11593;
padding: 1em;
text-align: left;
}

th {
background-color: #e11593;
color: white;
}

tr:nth-child(even) {
background-color: rgba(225, 21, 147, 0.2);
}




/* Contact form */
form {
margin: 0 auto;
max-width: 500px;
min-width: 300px;
width: 60vw;
padding: 1rem;
background-color: #1d1d1d;
border-radius: 5%;
color: #efece5;
}

label {
display: block;
margin: 0.5rem 0;
}

.h1form {
margin: 1em auto;
text-align: center;
}

fieldset {
margin-top: 0.5rem;
padding: 1rem 0;
border: none;
}

input[type="submit"] {
display: block;
width: 30%;
margin: 0 auto;
padding-bottom: 0.5rem;
font-size: 1.5rem;
background-color: #FB9DDB;
color: #e11593;
border-radius: 0.5rem;
font-family: "pf-videotext", sans-serif;
font-weight: 400;
font-style: normal;
margin-bottom: 0.5rem;
}
  
::placeholder {
color: #FB9DDB;
opacity: 0.5; 
}

input, textarea, select {
width: 98%;
margin-top: 1em;
margin-bottom: 1em;
margin-left: 0;
margin-right: 0;
background-color: #292929;
min-height: 1.5rem;
color: #efece5;
}



input[type="submit"]:hover {
  scale: 1.05;
}



/* social media icons */
.icons {
margin-top: 2rem;
text-align: center; 
}

.fa {
padding: 1rem;
font-size: 1.5rem;
width: 1em;
text-align: center;
text-decoration: none;
}



/* work, project gallery */

.gallery {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 1em;
max-width: 1000px;
margin: 0 auto;
padding: 20px 10px;
}
  
.gallery img, .gallery a {
width: 100%;
max-width: 30rem;
height: 26rem;
object-fit: cover;
}
  
.gallery img:hover{
background:#FB9DDB;
padding: 0.3em;
}

.moreComing{
  font-size: 1.5rem;
  font-family: "pf-videotext", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 2rem;
  text-align: center;
  color:#1441F5;
  }


/* NEXT and PREVIOUS buttons */



  .pageButton {
    text-align: center;
    color: #e11593;
    font-size: 2rem;
    font-family: "pf-videotext", sans-serif;
    font-weight: 400;
    font-style: normal;
    word-spacing: 3rem;
    }
    
  .pageButton a, .pageButton a:hover {
    color: #e11593;
    }


    .arrow {
      border: solid #e11593;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 10px;
      
    }
    
    .right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
    
    .up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      
    }
    
    
    
     .top {
      margin-left: 6rem;
     }
    
     .left {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }





/* about page, skills */

.skillsContainer {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 16px;
margin: 0 auto;
padding: 1em 0.5em;
width: 80%;
    
}

.skill {
border: 3px solid #e11593;
padding: 10px;
text-align: center;
width: 30%; 
min-width: 150px;
color: #e11593;
font-size: 1.2rem;
font-family: "pf-videotext", sans-serif;
font-weight: 400;
font-style: normal;
border-radius: 15px;
background-color: rgba(225, 21, 147, 0.1);
}


footer {
font-size: 1rem;
text-align: center;
margin-top: auto;
bottom: 0;
width: 100%;
}





   /* project pages */
.projectText {
  font-size: 1rem;
}

.projectPicture {
  width:35rem;
}

.projectTitle {
  margin-top: 0;
}
  
.projectContainer {
  display: flex;
  justify-content: center;
  margin-left: 8rem;
  margin-right: 8rem;
  margin-top: 3rem; 
}

.textContainer {
  width: 40rem;
  margin-left: 2rem;
  float: right ;
}



/**************************************************************
*************************   MEDIA QUERIES  ******************** 
***************************************************************/

/*-------------------------------------------------------------
/*                         Large desktops
--------------------------------------------------------------*/

@media screen and (min-width: 1200px)
{
.projectPicture {
  width: 40rem;
}

}

/*-------------------------------------------------------------
/*                         Small desktops
--------------------------------------------------------------*/

@media screen and (max-width: 1250px)
{
  .projectPicture {
    width: 35rem;
  }

  .projectContainer {
    display: flex;
    justify-content: center;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 3rem; 
  }

}

/*-------------------------------------------------------------
/*                          TABLETS  
--------------------------------------------------------------*/ 

@media screen and (max-width: 1000px)
{

  .projectContainer {
      display: flex;
      flex-direction: column;
  }

  #me {
    width: 100px;
  }
  
  .menu li {
    display: inline;
    padding: 0.3em;
  }

  .imageContainer {
    width: 100%;
    text-align: center;
  }

  .textContainer {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    margin-left: 1rem;
  }
} 


/*-------------------------------------------------------------
/*                          MOBILES 
--------------------------------------------------------------*/ 

@media screen and (max-width: 900px)
{

  #me {
    width: 100px;
  }
  
  .menu li {
  display: inline;
  padding: 0.3em;
  font-size: 1.5rem;
  }

  .projectPicture {
    width: 100%;
  }

  .imageContainer {
    text-align: center;
  }

  .textContainer {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    margin-left: 0.5rem;
  }

  h1 {
    font-size: 36px;
  }

  .pageButton {
    font-size: 1.5rem;
    word-spacing: 1rem;
  }
}

/*-------------------------------------------------------------
/*                        SMALL  MOBILES 
--------------------------------------------------------------*/ 

@media screen and (max-width: 700px)
{
  .menu li {
    font-size: 1rem;
  }
  .pageButton {
    font-size: 1.2rem;
    word-spacing: 0.8rem;
  }

  h1 {
    font-size: 24px
  }

}